
/*-------------------------*/
/*-------Defaults----------*/
/*-------------------------*/
@background-color:#FFFFFF;
@page-color:#999999;
@text-color:#000000;
@page-width:80%;

/*-------------------------*/
/*-Mobile Screen Rendering-*/
/*-------------------------*/

@viewport{
    width: device-width;
    zoom: 1.0;
}

/* Prefixed version requred  for IE10 */

@-ms-viewport{
    width: device-width;
    zoom: 1.0;
}

body{
	min-width: 250px;
	text-align:center;
	margin:0;
	overflow-x:hidden;
}

/*-------------------------*/
/*-------Navigation--------*/
/*-------------------------*/

#navigation{
	text-align:center;
	display:inline-block;
	padding-top: 10px;
	padding-bottom: 10px;
	-webkit-padding-start: 0px; //FIX
	width:@page-width;
}
.nav{
	width:150px;
	height:30px;
	vertical-align:middle;
	padding:10px;
	font-size:20px;
}
#navigation li{
	list-style:none;
	display:inline-block;
}
@media only screen and (max-width: 800px) {
	#navigation{
		border-top: 0.5px solid @page-color;
		border-bottom: 0.5px solid @page-color;
	 	width:100%;
	 	padding:0;
		li{
			display:block;
		    margin-bottom: 0;
			padding-top: 5px;
			padding-bottom: 5px;
		    border-top: 0.5px solid @page-color;
		    border-bottom: 0.5px solid @page-color;
		    width:100%;
		}
	}
	.nav{
		margin-bottom:15px;
	}
}


/*-------------------------*/
/*---------Content---------*/
/*-------------------------*/

#content{
	width:@page-width;
	display:inline-block;
	overflow-x:hidden;
}
.container{
    text-align:center;
}
.box{
	display:inline-block;
	width:41% - 4px;
	padding:1%;
	vertical-align:middle;
}
@media only screen and (max-width: 800px) {
    .box{
    	width:96%;
        padding:2%;
        height:auto;
    }
}

/*-------------------------*/
/*---------Buttons---------*/
/*-------------------------*/

.button{
	height:30px;
	width:200px;
	vertical-align:middle;
	display:inline-block;
	padding:10px;
	font-size:20px;
	border-style:solid;
	border-width:1px;
}
