@import url("../../frame.less");

/*-------------------------*/
/*-------Constants---------*/
/*-------------------------*/
@bg1:#302d2c;
@bg2:#FFFFFF;
@page-width:100%;

/*-------------------------*/
/*-------Main Content------*/
/*-------------------------*/

body{
	text-align:center;
	display:block;
	background-color:@bg2;
	font-family: 'Roboto', sans-serif;
}

header{
	background-color:@bg1;
	text-align:center;
	float:center;
	margin-top:50px;
	display:block;
}
main{
	background-color:@bg2;
	display:block;
}
footer{
	padding-bottom:20px;
	color:@bg2;
	background-color:@bg1;
}

h1, h2, h3{
	margin:0;
	font-family: 'Rakkas', cursive;
}

img{
	max-width:100%;
	height:auto;
}

a{
	color:inherit;
}

/*-------------------------*/
/*-------Containers--------*/
/*-------------------------*/

.container{
	display:flex;
	flex-wrap: wrap;
    flex-direction: row;
	justify-content:center;
	width:100%;
}
.full{
	width:100%;
	padding:0;
}
.half{
	width:50%;
	padding:0;
}
.third{
	width:33%;
	padding:0;
}
@media only screen and (max-width: 800px) {
	.half{
		width:90%;
	}
	.third{
		width:90%;
	}
}
/*-------------------------*/
/*-------Navigation--------*/
/*-------------------------*/
nav{
	background-color:#000000;
	position:fixed;
	width:100%;
	height:50px;
	top:0;
	text-align:center;
}
nav a{
	display:inline-block;
	color:#DDDDDD;
	background-color:#000000;
	text-align:center;
	text-decoration:none;
	font-size:24px;
	padding:11px 16px;
	&:hover{
		//background-color:@bg2;
		//color:@bg1;
		color:red;
	}
}
@media only screen and (max-width: 800px) {
	nav a{
		width:100%;
		padding:14px 0px;
		display:none;
	}
	nav.responsive a{
		display:block;
	}
}

/*-------------------------*/
/*-------Special-----------*/
/*-------------------------*/

img{
	display:block;
}

#banner{
	width:90%;
	margin-left:5%;
	margin-right:5%;
	padding-top:10px;
}

.hours{
	width:300px;
	display:inline-block;
}

#transition{
	width:100%;
}

.icon{
	display:inline-block;
}

.l{
	text-align:left;
	width:90px;
	display:inline-block;
}

.r{
	text-align:right;
	width:200px;
	display:inline-block;
}

.content{
	width:90%;
	padding:5%;
}

.right{
	float:right;
}
.left{
	float:left;
}

#events{
	width:400px;
}
.event{
	width:100%;
}
.media{
	font-size: 50px;
}
#calendar{
	width:800px;
}
@media only screen and (max-width: 1200px) {
	#events{
		width:800px;
	}
	.event{
		width:33%;
	}
}

@media only screen and (max-width: 800px) {
	#calendar{
		width:90%;
	}
}