/*-------------------------*/
/*-------Defaults----------*/
/*-------------------------*/
/*-------------------------*/
/*-Mobile Screen Rendering-*/
/*-------------------------*/
@viewport {
  width: device-width;
  zoom: 1.0;
}
/* Prefixed version requred  for IE10 */
@-ms-viewport {
  width: device-width;
  zoom: 1.0;
}
body {
  min-width: 250px;
  text-align: center;
  margin: 0;
  overflow-x: hidden;
}
/*-------------------------*/
/*-------Navigation--------*/
/*-------------------------*/
#navigation {
  text-align: center;
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-padding-start: 0px;
  width: 100%;
}
.nav {
  width: 150px;
  height: 30px;
  vertical-align: middle;
  padding: 10px;
  font-size: 20px;
}
#navigation li {
  list-style: none;
  display: inline-block;
}
@media only screen and (max-width: 800px) {
  #navigation {
    border-top: 0.5px solid #999999;
    border-bottom: 0.5px solid #999999;
    width: 100%;
    padding: 0;
  }
  #navigation li {
    display: block;
    margin-bottom: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    border-top: 0.5px solid #999999;
    border-bottom: 0.5px solid #999999;
    width: 100%;
  }
  .nav {
    margin-bottom: 15px;
  }
}
/*-------------------------*/
/*---------Content---------*/
/*-------------------------*/
#content {
  width: 100%;
  display: inline-block;
  overflow-x: hidden;
}
.container {
  text-align: center;
}
.box {
  display: inline-block;
  width: 37%;
  padding: 1%;
  vertical-align: middle;
}
@media only screen and (max-width: 800px) {
  .box {
    width: 96%;
    padding: 2%;
    height: auto;
  }
}
/*-------------------------*/
/*---------Buttons---------*/
/*-------------------------*/
.button {
  height: 30px;
  width: 200px;
  vertical-align: middle;
  display: inline-block;
  padding: 10px;
  font-size: 20px;
  border-style: solid;
  border-width: 1px;
}
/*-------------------------*/
/*-------Constants---------*/
/*-------------------------*/
/*-------------------------*/
/*-------Main Content------*/
/*-------------------------*/
body {
  text-align: center;
  display: block;
  background-color: #888888;
}
header {
  background-color: #302d2c;
  text-align: center;
  float: center;
  margin-top: 50px;
  display: block;
}
main {
  background-color: #888888;
  display: block;
}
footer {
  padding-bottom: 20px;
  color: #888888;
  background-color: #302d2c;
}
h1 {
  margin: 0;
}
img {
  max-width: 100%;
  height: auto;
}
/*-------------------------*/
/*-------Containers--------*/
/*-------------------------*/
.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
.full {
  width: 90%;
  padding: 5%;
}
.half {
  width: 40%;
  padding: 5%;
}
.third {
  width: 30%;
  padding: 1.5%;
}
@media only screen and (max-width: 800px) {
  .half {
    width: 90%;
  }
  .third {
    width: 90%;
  }
}
/*-------------------------*/
/*-------Navigation--------*/
/*-------------------------*/
nav {
  background-color: #000000;
  position: fixed;
  width: 100%;
  height: 50px;
  top: 0;
  text-align: center;
}
nav a {
  display: inline-block;
  color: #DDDDDD;
  background-color: #000000;
  float: left;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  padding: 14px 16px;
}
nav a:hover {
  background-color: #888888;
}
@media only screen and (max-width: 800px) {
  nav a {
    width: 100%;
    padding: 14px 0px;
  }
  nav {
    position: static;
    background-color: #000000;
  }
  header {
    margin-top: 0px;
  }
}
/*-------------------------*/
/*-------Special-----------*/
/*-------------------------*/
img {
  display: block;
}
#banner {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  padding-top: 10px;
}
.hours {
  width: 300px;
  display: inline-block;
}
#transition {
  width: 100%;
}
.icon {
  display: inline-block;
}
.l {
  text-align: left;
  width: 99px;
  display: inline-block;
}
.r {
  text-align: right;
  width: 200px;
  display: inline-block;
}
#events {
  width: 400px;
}
.event {
  width: 100%;
}
#calendar {
  width: 800px;
}
@media only screen and (max-width: 1200px) {
  #events {
    width: 800px;
  }
  .event {
    width: 33%;
  }
}
@media only screen and (max-width: 800px) {
  #calendar {
    width: 90%;
  }
}
