/*-------------------------*/
/*-------Defaults----------*/
/*-------------------------*/
/*-------------------------*/
/*-Mobile Screen Rendering-*/
/*-------------------------*/
@viewport {
  width: device-width;
  zoom: 1.0;
}
/* Prefixed version requred  for IE10 */
@-ms-viewport {
  width: device-width;
  zoom: 1.0;
}
body {
  min-width: 250px;
  text-align: center;
  margin: 0;
  overflow-x: hidden;
}
/*-------------------------*/
/*-------Navigation--------*/
/*-------------------------*/
#navigation {
  text-align: center;
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-padding-start: 0px;
  width: 80%;
}
.nav {
  width: 150px;
  height: 30px;
  vertical-align: middle;
  padding: 10px;
  font-size: 20px;
}
#navigation li {
  list-style: none;
  display: inline-block;
}
@media only screen and (max-width: 800px) {
  #navigation {
    border-top: 0.5px solid #77dd77;
    border-bottom: 0.5px solid #77dd77;
    width: 100%;
    padding: 0;
  }
  #navigation li {
    display: block;
    margin-bottom: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    border-top: 0.5px solid #77dd77;
    border-bottom: 0.5px solid #77dd77;
    width: 100%;
  }
  .nav {
    margin-bottom: 15px;
  }
}
/*-------------------------*/
/*---------Content---------*/
/*-------------------------*/
#content {
  width: 80%;
  display: inline-block;
  overflow-x: hidden;
}
.container {
  text-align: center;
}
.box {
  display: inline-block;
  width: 37%;
  padding: 1%;
  vertical-align: middle;
}
@media only screen and (max-width: 800px) {
  .box {
    width: 96%;
    padding: 2%;
    height: auto;
  }
}
/*-------------------------*/
/*---------Buttons---------*/
/*-------------------------*/
.button {
  height: 30px;
  width: 200px;
  vertical-align: middle;
  display: inline-block;
  padding: 10px;
  font-size: 20px;
  border-style: solid;
  border-width: 1px;
}
/*-------------------------*/
/*-------Constants---------*/
/*-------------------------*/
/*-------------------------*/
/*----------Main-----------*/
/*-------------------------*/
body {
  width: 100%;
  font-family: arial;
  color: #9a0049;
}
a {
  text-decoration: none;
}
footer {
  border-top-style: 2px solid #77dd77;
}
/*-------------------------*/
/*-------Navigation--------*/
/*-------------------------*/
#navigation {
  border-color: #77dd77;
  border-bottom-style: solid;
  border-top-style: solid;
  border-bottom-width: 3px;
  border-top-width: 3px;
}
#navigation li {
  list-style: none;
  display: inline-block;
}
.nav {
  color: #9a0049;
  margin-left: 2px;
  margin-right: 2px;
}
.nav:hover {
  /*border-left:2px solid @page-color;
	/*border-right:2px solid @page-color;*/
  background-color: #FF0080;
  /*margin:0;*/
}
/*-------------------------*/
/*---------Content---------*/
/*-------------------------*/
.container {
  color: #9a0049;
}
.box {
  border-style: solid;
  border-width: 2px;
  border-color: #77dd77;
}
.main-box {
  display: inline-block;
  width: 37%;
  padding: 1%;
  vertical-align: middle;
  border-style: solid;
  border-width: 2px;
  border-color: #77dd77;
  margin: 2%;
  height: 275px;
}
.menu-box {
  display: inline-block;
  width: 37%;
  padding: 1%;
  vertical-align: middle;
  border-style: solid;
  border-width: 2px;
  border-color: #77dd77;
  width: 22%;
  margin: .5%;
  height: auto;
  padding: 0;
}
.box-title {
  font-size: 1.5em;
}
@media only screen and (max-width: 1000px) {
  .menu-box {
    width: 25%;
    padding: 2%;
    height: auto;
  }
}
@media only screen and (max-width: 800px) {
  .main-box {
    width: 96%;
    padding: 2%;
    height: auto;
  }
  .menu-box {
    width: 41%;
    padding: 2%;
    height: auto;
  }
  .banner {
    width: 100%;
  }
  #map {
    width: 90%;
    height: auto;
  }
}
@media only screen and (max-width: 400px) {
  .menu-box {
    width: 96%;
    padding: 2%;
    height: auto;
  }
  #toppingbar {
    width: 95%;
  }
}
.button {
  color: #9a0049;
}
.button:hover {
  background-color: #77dd77;
}
